    body {
        color:black;
        background-image: url(bg.jpg);
        background-size: cover;
        font-family: 'Josefin Slab', Arial, sans-serif;
        font-size: 13px;
        margin-left: 200px;
        margin-right: 200px;
    }
    
    nav{
        background-color: rgb(47, 79, 79);
        padding-left:50px;
    }
    
    #features > a {   
        color:white;
        display: inline-block;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        padding: 10px 40px;
        margin-right: -4px;
    }
    
    #features > a:hover{
        background-color: #ff6347;
    }
    
    img{
        padding: 2px 0px;
    }
    
    a{
        color: #ff6347;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
    }
    
    .topContent,.bottomContent{
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: white;
        border-style: solid;
        border-width: 2px;
        border-color: lightgrey;
        padding:22px;
    }
    
    .top,.middle,.bottom{
        background-color: white;
        border-style: solid;
        border-width: 2px;
        border-color: lightgrey;
        padding:5px;
        margin-bottom:10px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .mainContent {
        display: flex;
        flex-wrap: wrap;
    }
    
    .content{
        max-width: 70%;
    }
    
    .sidebar {
        flex: 30%;
        max-width: 30%;
    }
    
    .mainFooter{
        background-color: rgb(47, 79, 79);
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left:50px;
        color:white;
    }

  
    @media only screen and (max-width: 700px) {
        body{
            display: none;
        }
